<div class="mt-4">
  <form method="GET" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Keywords</label>
      <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="Input keyword">
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>