<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Keywords</label>
      <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="Input keyword">
      <select name="gender" id="gender-input" class="form-control">
        <option value="">-- Gender --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>